table
    width: 70%
    align-self: center

th 
    width: 100px
    text-align: center !important
    
th:hover 
    background-color: yellow
    
td:hover 
    background-color: #F2F2F2

.cell 
    text-align: center !important

.table-container 
    display: flex
    justify-content: center

.select 
    left: 15%

