
<mat-form-field appearance="fill" class="select">
    <mat-label>Select month</mat-label>
    <mat-select>
        <mat-option *ngFor="let month of months" [value]="month.id" (click)="onSelectMonth(month)">
        {{month.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<div class="table-container">
    <table mat-table [dataSource]="currentMonth.habits" class="mat-elevation-z8">
        <ng-container *ngFor="let day of days; let index = index" [matColumnDef]="day">
            <th mat-header-cell *matHeaderCellDef>
                {{day}}
            </th>
            <ng-container *ngIf="days.indexOf(day) == 0">
                <td mat-cell *matCellDef="let data">
                    {{data.name}}
                </td>
            </ng-container>
            <ng-container *ngIf="days.indexOf(day) > 0">
                <td mat-cell *matCellDef="let data" class="cell" (click)="onDateClick(data, day)">
                    <ng-container *ngFor="let habit of currentMonth.selectedHabits">
                        <p *ngIf="currentMonth.selectedHabits.length > 0 && habit.date == day && habit.habitId == data.id"> ✅ </p>
                    </ng-container>
                    
                </td>
            </ng-container>
        </ng-container>
     
        <tr mat-header-row *matHeaderRowDef="days"></tr>
        <tr mat-row *matRowDef="let row; columns: days;"></tr>
    </table>
</div>