.global-container
    display: flex
    flex-direction: column

.form-part
    margin-top: 20px

.add-habit-container
    margin-top: 20px
    width: 40%
    display: flex
    justify-content: center
